# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Docker & Project Specific ---
.env
.env.*
!.env.example
docker-compose.override.yml

# --- AI & Data (QUAN TRỌNG: Chặn push model và DB) ---
model_cache/
models/
huggingface/
weaviate_data/
weaviate_backup/
data/
scripts/*
!scripts/clean_db.py
models_cache_llm/
models_cache_embedding/
# --- IDE Settings (VSCode, PyCharm...) ---
.idea/
.vscode/
*.swp
.DS_Store